/*============================================================================
  #Site Footer
==============================================================================*/
.site-footer {
  background-color: $colorFooterBg;
  padding: $gutter 0;
  color: $colorFooterText;

  @include at-query ($min, $large) {
    padding: ($gutter * 2) 0;
  }
}
